<div class="payment-category">

    <div class="container">

        <ul class="breadcrumb">
            <li><span class="first" onclick="home.loadPage('settings')">Ajustes</span></li>
            <li><span onclick="home.loadPage('settings-expenses')">Despesas</span></li>
            <li><span>Categorias</span></li>
        </ul>

        <p class="info">Adicione suas categorias de despesas. Por exemplo: Transporte, Farmácia, Alimentação, entre outras, conforme sua necessidade.</p>

        <button class="add-button" onclick="showelement.showAdd('payment-category')">
            Adicionar
            <span class="icon">+</span>
        </button>

        <div class="component" id="add-payment-category">
            <div class="item-group">
                <label for="name">nome</label>
                <input type="text" id="name" name="name">
            </div>

            <div class="full-line">
                <button class="save-button" id="save-payment-category" category_id="0" onclick="dataservice.savePaymentCategory()">Salvar</button>
            </div>
            

        </div>

        <div class="list" id="list-payment-category">
            <div class="info">Altere as informações quando desejar</div>
            <ul></ul>
        </div>

    </div>

</div>