<div class="payment-type">

    <div class="container">

        <ul class="breadcrumb">
            <li><span class="first" onclick="home.loadPage('settings')">Ajustes</span></li>
            <li><span onclick="home.loadPage('settings-expenses')">Despesas</span></li>
            <li><span>Tipos</span></li>
        </ul>

        <p class="info">Adicione aqui os seus tipos de despesas, como despesas diárias, emergências, gastos fixos, entre
            outras.</p>

        <button class="add-button" onclick="showelement.showAdd('payment-type')">
            Adicionar
            <span class="icon">+</span>
        </button>

        <div class="component" id="add-payment-type">
            <div class="item-group">
                <label for="name">nome</label>
                <input type="text" id="name" name="name">
            </div>

            <div class="full-line">
                <button class="save-button" id="save-payment-type" type_id="0" onclick="dataservice.savePaymentType()">Salvar</button>
            </div>
        </div>

        <div class="list" id="list-payment-type">
            <div class="info">Altere as informações quando desejar</div>
            <ul></ul>
        </div>

    </div>

</div>