<div class="update-password">

    <div id="popup" class="popup-container">
        <div class="popup-content">
            <span class="popup-close" id="closePopup" onclick="generic.closePopup()">&times;</span>
            <div class="popup-icon"></div>
            <div id="popup-message" class="popup-message">
            </div>
        </div>
    </div>

    <div class="container">

        <ul class="breadcrumb">
            <li><span class="first" onclick="home.loadPage('settings')">Ajustes</span></li>
            <li><span onclick="home.loadPage('settings-general')">Geral</span></li>
            <li><span>Alterar senha</span></li>
        </ul>

        <div class="full-line">
            <div class="item-group">
                <label for="current-password">Por favor, digite sua senha atual</label>
                <input type="password" id="current-password" name="current-password" value="1">
            </div>
        </div>

        <div class="item-group">
            <label for="new-password">Digite a nova senha</label>
            <input type="password" id="new-password" name="new-password" value="1">
        </div>

        <div class="item-group">
            <label for="confirm-password">Confirme a nova senha</label>
            <input type="password" id="confirm-password" name="confirm-password" value="1">
        </div>

        <div class="button-container">
            <button class="save-button" onclick="dataservice.updatePassword()">Salvar</button>
        </div>

    </div>
</div>