<div class="about">

    <div class="container">
        <ul class="breadcrumb">
            <li><span class="first" onclick="home.loadPage('settings')">Ajustes</span></li>
            <li><span>Sobre</span></li>
        </ul>

        <div class="content-about">

            <p class="section-title">Entenda o objetivo do app</p>
            <p class="section-content">
                Este projeto foi desenvolvido com o objetivo de oferecer uma maneira simples e prática de gerenciar suas contas do dia a dia. Vamos explorar mais a fundo o que o aplicativo pode fazer por você nas seções a seguir.
            </p>

            <p class="section-title">Acompanhamento de gastos</p>
            <p class="section-content">
                Com o app, você poderá monitorar seus gastos diários, mensais e anuais de forma clara e eficiente. Cada despesa que você registrar será contabilizada para que você tenha uma visão completa e detalhada de seus hábitos financeiros.
            </p>

            <p class="section-title">Controle antes de gastar</p>
            <p class="section-content">
                Antes de adicionar uma nova despesa no aplicativo, você verá automaticamente o quanto já gastou. Isso pode te fazer refletir e, em muitos casos, pensar: "Preciso colocar um limite nisso!". O objetivo é te ajudar a ter mais controle e planejamento financeiro.
            </p>

            <p class="section-title">O processo de desenvolvimento</p>
            <p class="section-content">
                Durante o desenvolvimento do sistema, essa ideia de conscientização dos gastos foi um dos pilares principais. A experiência que eu mesmo tive ao organizar minhas próprias finanças foi o que guiou as funcionalidades do app.
            </p>

            <p class="section-title">Organização financeira: a chave para o sucesso</p>
            <p class="section-content">
                Acredito fortemente que a organização financeira é essencial para alcançar qualquer objetivo. Com o controle proporcionado por este app, espero que você possa traçar metas financeiras claras e realizá-las de forma mais eficiente.
            </p>

            <p class="section-title">Seu feedback é importante</p>
            <p class="section-content">
                Este app foi criado para ajudar na sua jornada de organização financeira, mas pode sempre ser melhorado. Se você sentir falta de algum recurso ou tiver alguma sugestão, deixe seu feedback <span class="click-here" onclick="home.loadPage('settings-feedback')">clicando aqui</span>. Sua opinião é valiosa para tornar o app ainda mais útil!
            </p>
        </div>

    </div>

</div>