<div class="settings-page">

    <div class="container">

        <ul class="breadcrumb">
            <li><span class="first" onclick="home.loadPage('settings')">Ajustes</span></li>
            <li><span onclick="navigateTo('expenses')">Despesas</span></li>
        </ul>

        <ul>
            <li>
                <div class="setting-item">
                    <div class="icon submenu-expenses">
                        <img src="../src/assets/payment-methods.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Formas de pagamento</span>
                    </div>
                    <div class="arrow-icon">></div>

                </div>
            </li>

            <li>
                <div class="setting-item">
                    <div class="icon submenu-expenses">
                        <img src="../src/assets/category.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Categorias</span>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li>
                <div class="setting-item">
                    <div class="icon submenu-expenses">
                        <img src="../src/assets/type.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Tipos</span>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>
        </ul>

    </div>

</div>