
<div class="feedback">

    <div class="container">

        <ul class="breadcrumb">
            <li><span class="first" onclick="home.loadPage('settings')">Ajustes</span></li>
            <li><span>Feedbacks</span></li>
        </ul>

        <div class="full-line">
            <div class="item-group">
                <label for="type-feedback">Eu gostaria de</label>
                <select id="type-feedback" name="type-feedback">
                    <option value="praise" selected>Fazer um elogio</option>
                    <option value="suggestion">Fazer uma sugestão</option>
                    <option value="error">Reportar um problema</option>
                    <option value="other">Falar sobre outra coisa</option>
                </select>
            </div>
        </div>

        <div class="item-group">
            <label for="message-feedback">Por favor, descreva em detalhes sua mensagem</label>
            <textarea name="message-feedback" id="message-feedback"></textarea>
        </div>

        <div class="button-container">
            <button id="button-send-feedback" class="disabled-button" onclick="dataservice.sendFeedback()">Enviar</button>
        </div>

    </div>

</div>