<div class="settings-page">

    <div class="container">

        <ul class="breadcrumb">
            <li><span class="first" onclick="home.loadPage('settings')">Ajustes</span></li>
            <li><span>Geral</span></li>
        </ul>

        <ul>
            <li>
                <div class="setting-item" onclick="home.loadPage('managment-group')">
                    <div class="icon submenu-general">
                        <img src="../src/assets/managment-group.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Meu grupo de gerenciamento</span>
                    </div>
                    <div class="arrow-icon">></div>

                </div>
            </li>

            <li>
                <div class="setting-item" onclick="home.loadPage('update-password')">
                    <div class="icon submenu-general">
                        <img src="../src/assets/reset-password.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Alterar senha</span>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li>
                <div class="setting-item" onclick="home.loadPage('remove-account')">
                    <div class="icon submenu-general">
                        <img src="../src/assets/remove-account.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Excluir minha conta</span>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li>
                <div class="setting-item" onclick="home.loadPage('requests')">
                    <div class="icon submenu-general">
                        <img src="../src/assets/requests.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Solicitações</span>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

        </ul>

    </div>

</div>