<div class="settings-page">

    <div class="container">

        <ul class="breadcrumb">
            <li><span class="first" onclick="home.loadPage('settings')">Ajustes</span></li>
            <li><span>Receitas</span></li>
        </ul>

        <ul>
            <li>
                <div class="setting-item" onclick="home.loadPage('income-recurrence')">
                    <div class="icon submenu-income">
                        <img src="../src/assets/recurrence.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Recorrência</span>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>
        </ul>

    </div>
</div>