/*Variáveis */
:root {

    /* Screen */
    --computer-screen: 800px;
    --mobile-screen: 95%;

    /* Page */
    --background-page: #fff;
    --background-component: #fff;

    /* Buttons */
    --save-btn-color: #fff;
    --save-btn-background: #4CAFEB;
    --save-btn-color-hover: '';
    --save-btn-background-hover: '';
    --remove-btn-color: #fff;
    --remove-btn-background: #E53E3E;
    --remove-btn-color-hover: '';
    --remove-btn-background-hover: '';

    /* Font */
    --font-size-base: 16px;
    --font-size-mobile: 18px;
    --label-spacing: 4px;
    --default-font: '';
    --label-color: #2D3748;

    /* INPUT */
    --input-padding-mobile: 14px;
    --input-background: #eee;
    --input-radius: 8px;

    --component-radius: 20px;
    --shadow-light: 0px 8px 32px rgba(0, 0, 0, 0.2);
    --primary-color: #11111161;
    --spacing: 12px;

    /* color palette for icons */
    --vivid-orange: #FF9400;
    --bright-blue: #0876FE;
    --vibrant-green: #32C85D;
    --vivid-purple: #5857D8;
    --vivid-red: #F93C3A;
    --ios-blue: #007AFF;
    --sky-blue: #3BA7DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page {
    margin-bottom: 14vh;
}

.container,
.component {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
    background-color: var(--background-page);
    padding: var(--spacing);
    border-radius: var(--component-radius);
    box-shadow: var(--shadow-light);
    padding: 3vh;
}

.item-group {
    flex: 1 1 calc(33.33% - var(--spacing));
    margin-bottom: var(--spacing);
}

.item-group label {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.item-group input {
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 8px 0;
    outline: none;
    transition: border-color 0.3s;
    width: 100%;
}

.item-group input:focus {
    border-bottom: 1px solid var(--ios-blue);
}

.item-group input::placeholder {
    color: #C7C7CC;
}

.item-group select {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    outline: none;
    appearance: none;
    background-image: url('../../src/assets/arrow-down.svg');
    background-repeat: no-repeat;
    transition: border-color 0.3s;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 10px;
}

.item-group select:focus {
    border-color: var(--ios-blue);
}

.item-group input[type="date"] {
    font-size: 16px;
    padding: 10px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s;
    appearance: none;
}

.item-group input[type="date"]:focus {
    border-color: var(--ios-blue);
}

.item-group input[disabled] {
    background-color: #FAFAFA;
}

.item-group input[type="date"][disabled] {
    background-color: #FAFAFA;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2vh;
    width: 100%;
}

/* Save Button */
.save-button {
    font-size: 16px;
    padding: 12px 24px;
    background-color: var(--ios-blue);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.save-button:hover {
    background-color: #005BBB;
}

.save-button:active {
    transform: scale(0.98);
    background-color: #004DAA;
}

.save-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.4);
}

/* Edit Button */
.edit-button {
    font-size: 16px;
    padding: 12px 24px;
    background-color: transparent;
    color: var(--ios-blue);
    border: 2px solid var(--ios-blue);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-button:hover {
    background-color: var(--ios-blue);
    color: white;
}

.edit-button:active {
    transform: scale(0.98);
    background-color: #004DAA;
}

.edit-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 122, 255, 0.4);
}

/* Delete Button */
.delete-button {
    font-size: 16px;
    padding: 12px 24px;
    background-color: #F93C3A;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-button:hover {
    background-color: #D32F2F;
}

.delete-button:active {
    transform: scale(0.98);
    background-color: #B71C1C;
}

.delete-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(249, 60, 58, 0.4);
}

/* settings */
.settings-page ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.settings-page .setting-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    position: relative;
}

.settings-page .setting-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.settings-page .icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 10px;
}

.settings-page .icon img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 0.5vh;
}

.settings-page .setting-info {
    flex: 1;
}

.settings-page .setting-title {
    font-size: 18px;
    color: var(--label-color);
    display: block;
    font-weight: 600;
}

.settings-page .setting-caption {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
    font-weight: 300;
}

.settings-page .arrow-icon {
    font-size: 20px;
    color: #999;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.settings-page .setting-item:hover .arrow-icon {
    transform: translateX(5px);
}

.settings-page .setting-profile {
    background-color: var(--bright-blue);
}

.settings-page .setting-expenses {
    background-color: var(--vivid-orange);
}

.settings-page .setting-income {
    background-color: var(--vibrant-green);
}

.settings-page .setting-investments {
    background-color: var(--vivid-purple);
}

.settings-page .setting-general {
    background-color: var(--vivid-red);
}

.settings-page .setting-feedbacks {
    background-color: var(--ios-blue);
}

.settings-page .setting-about {
    background-color: var(--sky-blue);
}

/* MENU INFERIOR */
.bottom-menu {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--component-radius);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-light);
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-item {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 12px;
    color: #fff;
}

.menu-item.general {
    background-color: var(--ios-blue);
}

.menu-item.income {
    background-color: var(--vibrant-green);
}

.menu-item.expenses {
    background-color: var(--vivid-orange);
}

.menu-item.investments {
    background-color: var(--vivid-purple);
}

.menu-item.settings {
    background-color: #DCDBDF;
    color: #000000;
}

.menu-item img {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    margin-bottom: -10px;
}

.menu-item span {
    position: absolute;
    padding-top: -100px;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.3s ease, bottom 0.3s ease;
}

.menu-item.active img {
    transform: translateY(-70%);
}

.menu-item.active span {
    bottom: 4px;
    opacity: 1;
}

/* Profile Settings - ini */

.profile-page .photo {
    display: block;
    min-width: 100%;
    clear: both;
}

.profile-page .edit-photo {
    display: flex;
    justify-content: right;
    min-width: 100%;
    padding-right: 2vh;
    color: var(--ios-blue);
}

.profile-page .edit-photo:hover {
    cursor: pointer;
}

.profile-page #user-photo {
    display: none;
}

.profile-page .user-photo-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: 2px dashed #ccc;
    transition: background-color 0.3s ease;
}

.profile-page .user-photo-label:hover {
    background-color: #e0e0e0;
}

.profile-page .user-photo-label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: none;

    background-color: #E3E3E5;
}

.profile-page .user-photo-label img.uploaded {
    display: block;
}

/* Profile Settings - end */


/* Submenu - ini */
.submenu-expenses img {
    background-color: var(--vivid-orange);
}

/* Submenu - end */

/* Breadcrumbs - ini */
.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.breadcrumb li {
    margin-right: 10px;
    color: #666;
    padding: 1vh 0;
}

.breadcrumb li span {
    cursor: pointer;
    color: #007aff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.breadcrumb li span:hover {
    color: #005bbb;
}

.breadcrumb .first{
    padding-left: 1vh;
}

.breadcrumb li::after {
    content: '>';
    margin-left: 10px;
    color: #888;
}

.breadcrumb li:last-child::after {
    content: '';
}

.breadcrumb li:last-child span {
    color: #333;
    font-weight: bold;
    cursor: default;
}
/* Breadcrumbs - end */


@media (max-width: 768px) {

    .item-group {
        flex: 1 1 100%;
    }

    .item-group input,
    .item-group select {
        font-size: var(--font-size-mobile);
        padding: var(--input-padding-mobile);
    }

    label {
        font-size: var(--font-size-mobile);
    }

    .bottom-menu {
        width: var(--mobile-screen);
    }

    .menu-item img {
        width: 30px;
        height: 30px;
    }

    .menu-item span {
        font-size: 12px;
    }

    .container {
        box-shadow: none;
    }

    .settings-page .setting-item {
        padding: 10px;
    }

    .settings-page .setting-title {
        font-size: 16px;
    }

    .settings-page .setting-caption {
        font-size: 12px;
    }

    .settings-page .arrow-icon {
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .item-group {
        flex: 1 1 calc(50% - var(--spacing));
    }
}

@media (min-width: 1025px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        width: var(--computer-screen);
        margin: auto;
    }

    .item-group input[type="date"] {
        height: 36px;
    }

    .bottom-menu {
        width: var(--computer-screen);
    }

}