body {
    font-family: 'Arial', sans-serif;
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
    padding: 30px;
    position: relative;
}

.form-container {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007AFF;
    color: white;
    border: none;
    border-radius: 8px;
}

a {
    color: #007AFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 20px;
    text-align: center;
}
