<div class="income-page">

    <div class="container">

        <div class="item-group">
            <label for="source">Origem</label>
            <input type="text" id="source" name="source" placeholder="Ex.: Salário, Freelancer" onclick="generic.setTodayDate('income-date')">
        </div>

        <div class="item-group">
            <label for="value">Valor</label>
            <input type="text" id="value" name="value" placeholder="Ex.: 1500" oninput="generic.formatCurrency(this)">
        </div>

        <div class="item-group">
            <label for="incomeType">Tipo de renda</label>
            <select id="incomeType" name="incomeType">
                <option value="fixed">Fixa</option>
                <option value="extra">Extra</option>
            </select>
        </div>

        <div class="item-group">
            <label for="income-date">Data de entrada</label>
            <input type="date" id="income-date" name="income-date">
        </div>

        <div class="item-group">
            <label for="description">Descrição</label>
            <input type="text" id="description" name="description" placeholder="Adicione detalhes sobre a renda">
        </div>

        <div class="item-group">
            <label for="recurrence">Recorrência</label>
            <select id="recurrence" name="recurrence">
                <option value="one-time">Única</option>
                <option value="monthly">Mensal</option>
                <option value="yearly">Anual</option>
            </select>
        </div>

        <div class="item-group">
            <label for="responsible">Responsável</label>
            <input type="text" id="responsible" name="responsible" placeholder="Quem gerou essa renda?">
        </div>

        <div class="item-group">
            <label for="status">Status de recebimento</label>
            <select id="status" name="status">
                <option value="received">Recebido</option>
                <option value="pending">Pendente</option>
            </select>
        </div>


        <div class="button-container">
            <button class="save-button">Salvar</button>
        </div>




    </div>

</div>