<div class="settings-page">


    <div class="container">

        <ul>

            <li onclick="home.loadPage('settings-profile')">
                <div class="setting-item">
                    <div class="icon setting-profile">
                        <img src="../src/assets/user.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Perfil</span>
                        <p class="setting-caption">Mantenha seus dados pessoais sempre atualizados para uma experiência
                            mais personalizada.</p>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li onclick="home.loadPage('settings-expenses')">
                <div class="setting-item">
                    <div class="icon setting-expenses">
                        <img src="../src/assets/expenses.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Despesas</span>
                        <p class="setting-caption">Gerencie suas formas de pagamento, tipos e categorias de despesas
                            financeiras de forma eficiente.</p>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li>
                <div class="setting-item" onclick="home.loadPage('settings-income')">
                    <div class="icon setting-income">
                        <img src="../src/assets/income.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Receitas</span>
                        <p class="setting-caption">Controle suas fontes de renda e acompanhe a recorrência com
                            facilidade.</p>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li>
                <div class="setting-item">
                    <div class="icon setting-investments">
                        <img src="../src/assets/investment.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Investimentos</span>
                        <p class="setting-caption">Organize seus investimentos, categorizando-os por tipo e nível de
                            risco.</p>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li>
                <div class="setting-item" onclick="home.loadPage('settings-general')">
                    <div class="icon setting-general">
                        <img src="../src/assets/general.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Geral</span>
                        <p class="setting-caption">Adicione membros para gerenciamento compartilhado e personalize a
                            visualização dos seus relatórios financeiros.</p>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li>
                <div class="setting-item">
                    <div class="icon setting-feedbacks">
                        <img src="../src/assets/feedback.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Feedbacks</span>
                        <p class="setting-caption">Encontrou um problema ou tem uma sugestão? Clique aqui e nos envie
                            seu feedback.</p>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

            <li>
                <div class="setting-item">
                    <div class="icon setting-about">
                        <img src="../src/assets/about.png" alt="icon">
                    </div>
                    <div class="setting-info">
                        <span class="setting-title">Sobre</span>
                        <p class="setting-caption">Saiba mais sobre o sistema e como ele pode te ajudar a organizar suas
                            finanças.</p>
                    </div>
                    <div class="arrow-icon">></div>
                </div>
            </li>

        </ul>

    </div>
</div>